@import url('general-style.css');
@import url('header-style.css');

.section-wrap {
    padding-top: 25px;
}
.show-section {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: var(--violetFonce);
    border : solid 1.5px #E94560 ;
    border-radius: 20px;
    padding: 20px 15px 15px 20px ;
    justify-self: center;
    min-height: 520px;
}

.img-film {
    justify-self: center;
    padding-bottom: 8px;
}

img, .empty-path {
    height: 270px;
    width: 180px;
    border-radius: 12px 12px 0 0;
}
.top-right-side {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.top-right-side h1{
   font-size:x-large ;
    padding-top: 7px;
}

.top-right-side-link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;

}

.bottom-right-side {
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
}

.bottom-right-side p {
    height: 6px;
}

.comment {
    border : solid 1.5px #E94560 ;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 6px 10px;
}

.comment p, .synopsis p {
    color : white;
}

.success p {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    background: white ;
    color: #1f8a3b;
    padding: 12px 20px;
    border-radius: 8px;

    animation: fadeout 4s forwards;
}
@keyframes fadeout {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.hide {
    display: none;
}

.categories-list ul{
    display:flex;
    justify-self: center;
    list-style:none;
    padding: 20px;
}

.categories-list button {
    border-radius: 30px;
    border : solid 1.5px #E94560 ;
    background-color: #0D0D0D;
    color :#E94560;
    padding: 8px;
}

.categories-list button:active, .categories-list button:hover {
    background-color: #E94560;
    color: white;
}

@media (min-width:480px) and (max-width:767px){

    .show-section {
        width: 70%;
    }
    .movie-card {
        display: flex;   
    }
    .img-film {
    padding-right: 8px;
    }
    .top-right-side {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
    .top-right-side-link {
        display: flex;
        flex-direction: row;
    }
    .bottom-right-side {
        justify-self: start;
    }
    .movie-details {
        display: flex;
        flex-direction: column;
    }
    .comment {
        flex: 1;
    }
   

}

@media (min-width:768px) {
    .show-section {
        max-width: 50%;
        padding: 25px ;
    }
    .movie-card {
        display: flex;   
        width: 100%;
    }
    .section-wrap {
    padding-top: 40px;
    }
    .show-section {
        display: flex;
        min-height: 500px;
    }
    .top-right-side {
        display: flex;
        flex-direction: row;
        justify-content:center;
    }
   
    .movie-details {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }
    .bottom-right-side {
        justify-self: start;
    }
    .comment {
        /* min-height: 174px; */
        flex: 1;
    }
    .top-right-side {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5px;
    }
    .top-right-side-link {
        display: flex;
        flex-direction: row;
    }
    
}

